@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');
/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

:root {
  /* primary colors */
  --Violet: hsl(257, 40%, 49%);
  --softMagenta: hsl(300, 69%, 71%);
}

html{
  font-size: 16px;
}

body{
  
}

/* attribution */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }